[submodule "moonsharp"]
	path = moonsharp
	url = https://github.com/Eddio0141/moonsharp.git
[submodule "Newtonsoft.Json"]
	path = Newtonsoft.Json
	url = https://github.com/Eddio0141/Newtonsoft.Json.git
