name: Build and test on push

on:
  push:
    branches:
      - "main"
  pull_request:

jobs:
  buildUnityGames:
    name: Build unity game
    strategy:
      matrix:
        target:
          - name: unity_latest
            targetPlatform: StandaloneLinux64
          # - name: unity_latest
          #   targetPlatform: StandaloneWindows64
          # - name: unity_latest
          #   targetPlatform: StandaloneWindows
    runs-on: ${{ matrix.target.targetPlatform == 'StandaloneLinux64' && 'ubuntu-24.04' ||
                 matrix.target.targetPlatform == 'StandaloneWindows64' && 'windows-2025' ||
                 matrix.target.targetPlatform == 'StandaloneWindows' && 'windows-2025' ||
                 '' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          lfs: true

      - name: Binary cache
        uses: actions/cache@v5
        id: unity-game-bin-cache
        with:
          path: TestGames/${{ matrix.target.name }}/build
          key: unity-game-bin-${{ matrix.target.targetPlatform }}-${{ hashFiles(format('TestGames/{0}/Assets/**', matrix.target.name), format('TestGames/{0}/Packages/**', matrix.target.name), format('TestGames/{0}/ProjectSettings/**', matrix.target.name)) }}

      - if: steps.unity-game-bin-cache.outputs.cache-hit != 'true'
        uses: actions/cache@v5
        name: Library cache
        with:
          path: TestGames/${{ matrix.target.name }}/Library
          key: unity-game-library-${{ matrix.target.name }}-${{ matrix.target.targetPlatform }}-${{ hashFiles(format('TestGames/{0}/Assets/**', matrix.target.name), format('TestGames/{0}/Packages/**', matrix.target.name), format('TestGames/{0}/ProjectSettings/**', matrix.target.name)) }}
          restore-keys: |
            unity-game-library-${{ matrix.target.name }}-${{ matrix.target.targetPlatform }}-

      - if: steps.unity-game-bin-cache.outputs.cache-hit != 'true'
        uses: game-ci/unity-builder@v4
        name: Build
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
        with:
          targetPlatform: ${{ matrix.target.targetPlatform }}
          projectPath: TestGames/${{ matrix.target.name }}
          buildsPath: TestGames/${{ matrix.target.name }}/build
          buildName: build.x86_64

      - uses: actions/upload-artifact@v4
        name: Upload binary
        with:
          name: unity-game-${{ matrix.target.name }}-${{ matrix.target.targetPlatform }}
          path: TestGames/${{ matrix.target.name }}/build/${{ matrix.target.targetPlatform }}
  buildUniTAS:
    name: Build UniTAS
    needs: buildUnityGames
    strategy:
      matrix:
        target:
          - triple: x86_64-unknown-linux-gnu
            name: linux-x64
          - triple: x86_64-pc-windows-msvc
            name: win-x64
          - triple: i686-pc-windows-msvc
            name: win-x86
    runs-on: ${{ matrix.target.name == 'linux-x64' && 'ubuntu-24.04' ||
                 matrix.target.name == 'win-x64' && 'windows-2025' ||
                 matrix.target.name == 'win-x86' && 'windows-2025' ||
                 '' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Setup .NET
        uses: actions/setup-dotnet@v5

      - name: Rustup toolchain install
        uses: dtolnay/rust-toolchain@nightly
        with:
          targets: ${{ matrix.target.triple }}

      - name: Setup just
        uses: extractions/setup-just@v3

      - name: Rust cache
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: "unitas-rs -> unitas-rs"

      - name: Build UniTAS
        env:
          CARGO_BUILD_TARGET: ${{ matrix.target.triple }}
        run: just build

      - uses: actions/upload-artifact@v6
        name: Upload built artifacts
        with:
          name: UniTAS-${{ matrix.target.name }}
          path: UniTAS/Patcher/bin/Release
  testUniTAS:
    name: Test UniTAS
    needs: buildUniTAS
    strategy:
      matrix:
        target:
          - unitasName: linux-x64
            gameName: unity_latest
            gameTargetPlatform: StandaloneLinux64
            triple: x86_64-unknown-linux-gnu
          # - unitasName: win-x64
          #   gameName: unity_latest
          #   gameTargetPlatform: StandaloneWindows64
          #   triple: x86_64-pc-windows-msvc
          # - unitasName: win-x86
          #   gameName: unity_latest
          #   gameTargetPlatform: StandaloneWindows
          #   triple: i686-pc-windows-msvc
    runs-on: ${{ matrix.target.gameTargetPlatform == 'StandaloneLinux64' && 'ubuntu-24.04' ||
                 matrix.target.gameTargetPlatform == 'StandaloneWindows64' && 'windows-2025' ||
                 matrix.target.gameTargetPlatform == 'StandaloneWindows' && 'windows-2025' ||
                 '' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Setup .NET
        uses: actions/setup-dotnet@v5

      - name: Setup ffmpeg
        uses: FedericoCarboni/setup-ffmpeg@v3.1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Rustup toolchain install
        uses: dtolnay/rust-toolchain@nightly
        with:
          targets: ${{ matrix.target.triple }}

      - name: Setup just
        uses: extractions/setup-just@v3

      - name: Setup Nu
        uses: hustcer/setup-nu@v3
      
      - name: Setup packages
        run: sudo apt update && sudo apt install -qyy xvfb

      - name: Rust cache
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: "test-runner -> test-runner"
          cache-on-failure: "true"

      - uses: actions/download-artifact@v7
        name: Download built unity game
        with:
          name: unity-game-${{ matrix.target.gameName }}-${{ matrix.target.gameTargetPlatform }}
          path: TestGames/${{ matrix.target.gameName }}/build

      - uses: actions/download-artifact@v7
        name: Download UniTAS
        with:
          name: UniTAS-${{ matrix.target.unitasName }}
          path: UniTAS/Patcher/bin/Release

      - name: Run tests
        run: xvfb-run --auto-servernum --server-args='-screen 0 640x480x24:32' just test

      - if: always()
        uses: actions/upload-artifact@v6
        name: Upload test-runner logs
        with:
          name: test-runner-logs-${{ matrix.target.gameName }}-${{ matrix.target.gameTargetPlatform }}
          path: ~/.cache/unitas-test-runner/logs

      - if: contains(github.event.pull_request.labels.*.name, 'automation')
        name: Auto-merge for automated PRs
        run: gh pr merge --auto --merge "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GH_TOKEN: ${{secrets.GITHUB_TOKEN}}
